/* line 4, ../compass/sass/aeto-ui-utility.scss */
.anim-hidden {
  visibility: hidden;
}

/* line 8, ../compass/sass/aeto-ui-utility.scss */
.anim-visible {
  visibility: visible;
}

/* line 16, ../compass/sass/aeto-ui-utility.scss */
.shake {
  -moz-animation: shake-little 100ms ease-in-out 0s infinite;
  -webkit-animation: shake-little 100ms ease-in-out 0s infinite;
  animation: shake-little 100ms ease-in-out 0s infinite;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  display: inline-block;
}

@-moz-keyframes anim-stall {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes anim-stall {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes anim-stall {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@-moz-keyframes shake-little {
  0% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  4% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  6% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  8% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  10% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  12% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  14% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  16% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  18% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  20% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  22% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  24% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  26% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  28% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  30% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  32% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  34% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  36% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  38% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  40% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  42% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  44% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  46% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  48% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  50% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  52% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  54% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  56% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  58% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  60% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  62% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  64% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  66% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  68% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  70% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  72% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  74% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  76% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  78% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  80% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  82% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  84% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  86% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  88% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  90% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  92% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  94% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  96% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  98% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
}
@-webkit-keyframes shake-little {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  4% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  8% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  10% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  12% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  14% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  16% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  18% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  20% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  22% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  24% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  26% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  28% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  30% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  32% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  34% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  36% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  38% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  40% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  42% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  44% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  46% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  48% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  52% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  54% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  56% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  58% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  62% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  64% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  66% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  68% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  70% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  72% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  74% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  76% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  78% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  80% {
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  82% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  84% {
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  86% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  88% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  90% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  92% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  94% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  96% {
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  98% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
}
@keyframes shake-little {
  0% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  4% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  6% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  8% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  10% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  12% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  14% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  16% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  18% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  20% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  22% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  24% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  26% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  28% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  30% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  32% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  34% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  36% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  38% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  40% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  42% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  44% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  46% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  48% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  50% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  52% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  54% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  56% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  58% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  60% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  62% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  64% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  66% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  68% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  70% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  72% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  74% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  76% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  78% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  80% {
    -moz-transform: translate(0px, -1px) rotate(-0.5deg);
    -ms-transform: translate(0px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(0px, -1px) rotate(-0.5deg);
    transform: translate(0px, -1px) rotate(-0.5deg);
  }
  82% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  84% {
    -moz-transform: translate(-1px, 0px) rotate(-0.5deg);
    -ms-transform: translate(-1px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, 0px) rotate(-0.5deg);
    transform: translate(-1px, 0px) rotate(-0.5deg);
  }
  86% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  88% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  90% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  92% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  94% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  96% {
    -moz-transform: translate(-1px, -1px) rotate(-0.5deg);
    -ms-transform: translate(-1px, -1px) rotate(-0.5deg);
    -webkit-transform: translate(-1px, -1px) rotate(-0.5deg);
    transform: translate(-1px, -1px) rotate(-0.5deg);
  }
  98% {
    -moz-transform: translate(0px, 0px) rotate(-0.5deg);
    -ms-transform: translate(0px, 0px) rotate(-0.5deg);
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg);
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
}
